// Nextflow configuration file

manifest {
    name = 'beast-nf'
    author = 'ARTIC Network'
    description = 'BEAST X phylogenetic analysis pipeline'
    version = '1.0.0'
    nextflowVersion = '>=21.04.0'
}

// Default parameters
params {
    // Input/Output
    input = null
    template = null
    outdir = "results"
    prefix = "beast_analysis"
    
    // BEAST parameters
    chain_length = 10000000
    log_every = 1000
    screen_every = 10000
    
    // TreeAnnotator parameters
    burnin = 10  // percentage
    
    // Computational resources
    max_cpus = 4
    max_memory = '8.GB'
    max_time = '48.h'
}

// Process configuration
process {
    // Default resources
    cpus = 1
    memory = '2.GB'
    time = '1.h'
    
    // Process-specific resources
    withName: GENERATE_XML {
        cpus = 1
        memory = '2.GB'
        time = '10.m'
    }
    
    withName: RUN_BEAST {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }
    
    withName: TREE_ANNOTATOR {
        cpus = 1
        memory = '4.GB'
        time = '1.h'
    }
    
    withName: VISUALIZE_TREE {
        cpus = 1
        memory = '2.GB'
        time = '10.m'
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process {
            withName: GENERATE_XML {
                container = 'python:3.9'
            }
            withName: RUN_BEAST {
                container = 'beast2/beast2:latest'
            }
            withName: TREE_ANNOTATOR {
                container = 'beast2/beast2:latest'
            }
            withName: VISUALIZE_TREE {
                container = 'python:3.9'
            }
        }
    }
    
    conda {
        conda.enabled = true
        process {
            withName: GENERATE_XML {
                conda = 'biopython'
            }
            withName: RUN_BEAST {
                conda = 'beast2'
            }
            withName: TREE_ANNOTATOR {
                conda = 'beast2'
            }
            withName: VISUALIZE_TREE {
                conda = 'baltic matplotlib'
            }
        }
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'main'
    }
    
    sge {
        process.executor = 'sge'
        process.queue = 'all.q'
    }
}

// Report configuration
report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
}
